{% include header.html %}

<body>

<div class="container">

    {% include navigation.html %}

    <hr>

    <div class="row main-content">
        <div class="offset2 span8 zone-content">
            <h1>Oooops, Sorry!!</h1>
            <p>
                <strong>Guess, you're in wrong place. Try again for correct link!</strong>
                Go back to <a href="http://{{ site.url }}">Home Page</a>
            </p>
        </div>
    </div>

    <hr>
    {% include footer.html %}

</div>
<!-- End Container -->
{% include footer_script.html %}