{% include header.html %}

<body>

<div class="container">

    {% include navigation.html %}

    <hr>

    <div class="row main-content">
        <div class="offset1 span6 zone-content">
            <article>
                <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
                <span class="meta"> - {{ page.date | date: "%d %b %Y" }}</span>
                <div class="content-area">
                    <p class="lead">
                        {{ content }}
                    </p>
                </div>
            </article>
        </div>
        <aside id="aside-right" class="aside-column offset1 span3">
            <article class="widget-search-form widget">
                <header>
                    <h1>Search</h1>
                </header>
                <form action="#" class="search-form" method="post">
                    <fieldset>
                        <input id="q" name="q" type="text" value="">
                        <button type="submit">Search</button>
                    </fieldset>
                </form>
            </article>
            <article class="widget-search-form widget">
                <header>
                    <h1>Donate me!</h1>
                </header>
                All of the software on my site is <strong>free &amp; open source</strong> and will stay that way!  If you would like to donate here is the link:<br/><br/>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UJJ735YN6T4XU">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </article>
            <article class="widget-search-form widget">
                <header>
                    <h1>Pages</h1>
                </header>
                All of the software on my site is <strong>free &amp; open source</strong> and will stay that way!  If you would like to donate here is the link:<br/><br/>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UJJ735YN6T4XU">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </article>
            <article class="widget-search-form widget">
                <header>
                    <h1>Donate me!</h1>
                </header>
                All of the software on my site is <strong>free &amp; open source</strong> and will stay that way!  If you would like to donate here is the link:<br/><br/>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UJJ735YN6T4XU">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </article>
            <article class="widget-search-form widget">
                <header>
                    <h1>Donate me!</h1>
                </header>
                All of the software on my site is <strong>free &amp; open source</strong> and will stay that way!  If you would like to donate here is the link:<br/><br/>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UJJ735YN6T4XU">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </article>
        </aside>
    </div>

    <hr>
    <div class="row">
        <div class="copyright span6">Copyright 2013 - Chris Schuld</div>
        <div class="span6 pull-right" style="text-align: right;">
                    <a href="#"><i class="smicon-rss"></i></a>
                    <a href="#"><i class="smicon-twitter"></i></a>
                    <a href="#"><i class="smicon-google"></i></a>
                    <a href="#"><i class="smicon-github"></i></a>
                    <a href="#"><i class="smicon-reddit"></i></a>
        </div>
    </div>

</div>
<!-- End Container -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-1.9.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/tinynav.js"></script>
<script src="/assets/js/template.js"></script>

</body>
</html>